<div id='title'>
  <h1>Pok&eacute;mon Battle!</h1>
</div>
<form action='/new-game' method='post'>
  <input type='text' name='name1' placeholder='Enter your name'>
  <input type='text' name='name2' placeholder="Enter opponent's name">
  <br>
  <input type='checkbox' name='ai' value='true'><span id='ai'>AI Opponent</span>
  <input type='checkbox' name='hard' value='true'><span id='ai'>AI Hard Mode</span>
  <input type='submit' value='FIGHT!'>
</form>
