<form action='/names' method='post'>
  <input type='text' name='name1' value='Enter you name'>
  <input type='text' name='name2' value="Enter opponent's name">
  <input type='submit' value='FIGHT!'>
</form>
