@font-face {
  font-family: "PokemonSolid";
  src: url(../fonts/PokemonSolid.ttf) format("truetype");
}

@font-face {
  font-family: "PokemonHollow";
  src: url(../fonts/PokemonHollow.ttf) format("truetype");
}

body{
  background: url('../images/pokescape-normal.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: 'PokemonHollow';
  font-size: 200%;
  text-shadow: white 0px 0px 10px;
}

input[type='submit'] {
  margin: 10px auto;
  font-family: 'PokemonSolid';
  font-size: 100%;
  width: 135px;
  text-shadow: white 0px 0px 10px;
  display:block;
  background:#ccc;
  cursor:pointer;
}

#title{
  font-family: "PokemonHollow";
  font-size: 170%;
}

#sign-in{
  font-family: "PokemonSolid";
}

#ai{
  font-family: Arial;
  font-size: 35%;
}

#loss-confirmation{
  position: relative;
  bottom: 45px;
  font-family: "PokemonSolid";
  text-shadow: white 0px 0px 10px;
  font-size: 125%;
}

#restart-button{
  position: relative;
  bottom: 90px;
}

#player1{
  position: absolute;
  top: 350px;
  padding: 25px;
  bottom: 0px;
  left: 100px;
  float: left;
  font-family: 'PokemonSolid';
}

#player2{
  position: absolute;
  top: 350px;
  padding: 25px;
  bottom: 0px;
  right: 100px;
  float: right;
  font-family: 'PokemonSolid';
}

.pika-pwned{
  position: relative;
  top: 35px;
  width: 330px;
}

#player1-controls{
  position: absolute;
  display: block;
  top: 500px;
  float: left;
  left: 430px; 
}

#player2-controls{
  position: absolute;
  display: block;
  top: 500px;
  float: right;
  right: 430px; 
}
