@font-face {
  font-family: "PokemonSolid";
  src: url(../fonts/PokemonSolid.ttf) format("truetype");
}

@font-face {
  font-family: "PokemonHollow";
  src: url(../fonts/PokemonHollow.ttf) format("truetype");
}

body{
  background: url('http://cdn.bulbagarden.net/upload/4/4e/HGSS_Ilex_Forest-Morning.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: 'PokemonSolid', Helvetica;
  font-size: 200%;
  text-shadow: white 0px 0px 10px;
}

input[type='submit'] {
  margin: 10px auto;
  font-family: 'PokemonSolid', Helvetica;
  font-size: 100%;
  display:block;
  background:#ccc;
  cursor:pointer;
}

#title{
  font-family: "PokemonHollow", Helvetica;
  text-shadow: white 0px 0px 10px;
  font-size: 115%;
}

#loss-confirmation{
  position: relative;
  top: 40px;
  font-family: "PokemonHollow", Helvetica;
  text-shadow: white 0px 0px 10px;
  font-size: 125%;
}

#player1{
  position: absolute;
  padding: 25px;
  height: 250px;
  bottom: 150px;
  left: 100px;
  float: left;
}

#player2{
  position: absolute;
  padding: 25px;
  width: 600px;
  height: 250px;
  top: 200px;
  right: 0px;
  float: right;
}

#player1-status{
  float: left;
  overflow: hidden;
}

#player1-controls{
  position: relative;
  top: 200px;
  overflow: hidden;
}

#player2-controls{
  float: left;
  bottom: 200px;
  overflow: hidden;
}

#player2-status{
  position: relative
  float: right;
  overflow: hidden;
}
